<ion-header>
    <ion-toolbar [class.show-background]="showToolbar">
      <ion-buttons slot="start">
        <ion-back-button style="color:black;"></ion-back-button>
      </ion-buttons>
      <ion-title>Đăng bài</ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" fullscreen>
    <div style="background:whitesmoke;">
      <div style="background: white;">
          <img src="/assets/img/camera.png" class="img-detail"/>
      </div> 
      <ion-grid id="grid1">
        <ion-row style="height: 40px;">
            <ion-textarea placeholder="Nhập tên sản phẩm"></ion-textarea>
        </ion-row>
        <ion-row>
        <hr>
        </ion-row>
        <ion-row style="height: 200px;">
          <ion-col>
              <ion-textarea placeholder="Mô tả..."></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>  
      <ion-grid id="grid2">
        <ion-row>
          <ion-col>
              <ion-item>
                  <ion-icon name="clipboard" style="padding-right: 20px;"></ion-icon>
                  <ion-label style="color:#C0C0C0">Loại sản phẩm</ion-label>
                  <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Chọn">
                    <ion-select-option value="red">Red</ion-select-option>
                    <ion-select-option value="purple">Purple</ion-select-option>
                    <ion-select-option value="yellow">Yellow</ion-select-option>
                    <ion-select-option value="orange">Orange</ion-select-option>
                    <ion-select-option value="green">Green</ion-select-option>
                  </ion-select>
                </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/img/thankyou.jpg"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br style ='line-height:100px;'> 
    </div>
  </ion-content>
  
<ion-footer>
  <ion-button class="offer-btn">Đăng</ion-button>
</ion-footer>
  