<ion-header>
    <ion-toolbar [class.show-background]="showToolbar">
      <ion-title style="text-align: center;">Đăng bài</ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" fullscreen>
    <div style="background:whitesmoke;">
      <div class="post-photo">
        <img [src]="captureDataUrl" *ngIf="captureDataUrl" class="photo-camera" />
        <ion-fab vertical="top" horizontal="center" slot="fixed">
          <ion-fab-button color="danger" (click)="getPicture(0)">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>      
      </div> 
      <ion-grid id="grid1">
        <ion-row style="height: 40px;">
            <ion-textarea placeholder="Nhập tên sản phẩm" [(ngModel)]="newProductName"></ion-textarea>
        </ion-row>
        <ion-row>
        <hr>
        </ion-row>
        <ion-row style="height: 200px;">
          <ion-col>
              <ion-textarea placeholder="Mô tả..." [(ngModel)]="newProductDescribe"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>  
      <ion-grid id="grid2">
        <ion-row>
          <ion-col>
              <ion-item>
                  <ion-icon name="clipboard" style="padding-right: 20px;"></ion-icon>
                  <ion-label style="color:#C0C0C0">Loại sản phẩm</ion-label>
                  <ion-select interface="action-sheet" placeholder="Chọn" [(ngModel)]="newProductType">
                    <ion-select-option *ngFor="let pt of producttype" value="{{pt.name}}">{{pt.name}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <ion-item style="padding-top:3%;">
                <ion-icon name="card" style="padding-right: 20px;"></ion-icon>
                <ion-label style="color:#C0C0C0">Cách thức nhận</ion-label>
                <ion-select interface="action-sheet" placeholder="Chọn" [(ngModel)]="newProductMethod">
                  <ion-select-option value="true">Hệ thống tự chọn</ion-select-option>
                  <ion-select-option value="false">Chọn thủ công</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item style="padding-top:3%;">
                <ion-icon name="heart-half" style="padding-right: 20px;"></ion-icon>
                <ion-label style="color:#C0C0C0">Tình trạng sản phẩm</ion-label>
                <ion-select interface="action-sheet" placeholder="Chọn" [(ngModel)]="newProductStatus">
                  <ion-select-option value="99% tới 90%">99% tới 90%</ion-select-option>
                  <ion-select-option value="89% tới 80%">89% tới 80%</ion-select-option>
                  <ion-select-option value="79% tới 70%">79% tới 70%</ion-select-option>
                  <ion-select-option value="69% tới 60%">69% tới 60%</ion-select-option>
                  <ion-select-option value="59% tới 50%">59% tới 50%</ion-select-option>
                  <ion-select-option value="49% tới 40%">49% tới 40%</ion-select-option>
                  <ion-select-option value="39% tới 10%">39% tới 10%</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/img/thankyou.jpg"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br style ='line-height:50px;'> 
    </div>
    <div class="div-button">
      <ion-button class="offer-btn" (click)="CreateProduct()" >Đăng</ion-button>
    </div>
  </ion-content>