.img-detail{
    width: 100%;
    height: 350px;
}
ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;
    color: black;
}
.show-background {
    border-style: none;
    background: #aaffa9; 
    background: -webkit-linear-gradient(to right, #aaffa9, #11ffbd); 
    background: linear-gradient(to right, #aaffa9, #11ffbd);
}
/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-content{
    position: absolute;
}

ion-icon{
    font-size: 30px;
    color: 	#FFE4B5;
}
.btn-toolbar{
    --background: transparent;
    border: none;
    float: right;
    --box-shadow:none;
}

.name-detail{
    font:bold 20px Georgia, serif;
}
.date-detail{
    color: 	#00FA9A;
    float: right;
}
.offer-btn{
    --background: #00FA9A;
    width: 80%;
    font-size: 13px;
}
ion-footer{
    background:	#FFF5EE;
    text-align:center; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-detail{
    background:white;
}
.title-lbl{
    font:bold 16px Georgia, serif;
    color: gray;
}

#sky-img{
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    height: 80px;
    padding-bottom: 20px;
}