.img-detail{
    width: 100%;
    height: 350px;
}
ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;
    color: black;
}
.show-background {
    border-style: none;
    background:#90EE90;
}
/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-content{
    position: absolute;
}

ion-icon{
    font-size: 30px;
}
.btn-toolbar{
        --background: transparent;
        border: none;
        float: right;
        --box-shadow:none;
}

.name-detail{
    font:bold 20px Georgia, serif;
}
.date-detail{
    color: 	#00FA9A;
    float: right;
}
.offer-btn{
    --background: #00FA9A;
    width: 80%;
    font-size: 13px;
}
ion-footer{
    background:	#383a3e;
    text-align:center; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.user-detail{
    --background: #fc4a1a;
    --background: -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
    --background: linear-gradient(to right, #fc4a1a, #f7b733);
    color: white;
    font:14px Georgia,serif;
}
.title-lbl{
    font:bold 16px Georgia, serif;
    color: gray;
}
.item-category{
    --background:#7CFC00;
}

.lbl-loaisp{
    float: right;padding-top:20px;padding-left:20px;color:white;
}
.img-item{
    height: 150px;
    width:150px;
}

.card-product{
    background-color: white;
}