<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button style="color:#FFA500"></ion-back-button>
    </ion-buttons>
    <ion-button class="btn-toolbar" (click)="showShareAction()">
        <ion-icon name="share" style="color:#FFA500"></ion-icon>
    </ion-button>
    <ion-button class="btn-toolbar" (click)="showReportAllert()">
      <ion-icon name="information-circle-outline" style="color:#FFA500"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" fullscreen>
    <div *ngFor="let i of products">
        <div *ngIf="i.id==itemId" style="background:whitesmoke;">
            <img src="{{i.img}}" class="img-detail"/>
            <ion-grid style="background: white;">
                <ion-row>
                  <ion-col col-10>
                    <ion-label class="name-detail">{{i.tensp}}</ion-label>
                  </ion-col>
                  <ion-col>
                      <ion-label class="date-detail">{{i.date | date:'dd-MM-yyyy'}}</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>{{i.note}}</ion-label>
                      </ion-col>
                </ion-row>
            </ion-grid>  
            <ion-item class="item-category">
                <div *ngFor="let pt of producttype">  
                  <img style="padding-top: 5px;width:50px;height:50px;" src="{{pt.icon}}" *ngIf="pt.name == i.loaisp">
                  <ion-label *ngIf="pt.name == i.loaisp" class="lbl-loaisp">{{pt.name}}</ion-label>   
                </div>
              </ion-item>
            <ion-grid style="padding-top:30px;">
                <ion-row>
                    <ion-col class="title-lbl">
                        <ion-label>Người đăng</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <div class="user-detail">
                        <ion-item lines="none" style=" font:bold 14px Georgia, serif;">
                          <ion-avatar slot="start">
                            <img src="/assets/img/user.png">
                          </ion-avatar>
                          <ion-label>{{i.user}}</ion-label>   
                        </ion-item>
                      </div>  
                    </ion-col>
                </ion-row>
            </ion-grid>  
            
        </div>
    </div>
    <div style="background:whitesmoke;">
        <ion-grid style="padding-top:30px;">
            <ion-row>
                <ion-col class="title-lbl">
                    <ion-label>Các bài đăng khác</ion-label>
                </ion-col>
            </ion-row>
            <div>
              
            </div>
            <ion-row>
                <ion-col>
                    <ion-slides [options]="sliderConfig">
                        <ion-slide *ngFor="let i of products; let n=index">
                          <div *ngIf="n<6">
                            <ion-card class="card-product">
                              <ion-card-header>
                                  <ion-card-subtitle style="color: coral;">{{i.loaisp}}</ion-card-subtitle>
                                  <ion-card-title>{{i.tensp}}</ion-card-title>
                                <ion-card-content>
                                  <img class="img-item" src='{{i.img}}' routerLink="/item-detail/{{i.id}}" routerDirection="forward"/>
                                </ion-card-content>
                              </ion-card-header>
                            </ion-card>
                          </div>
                        </ion-slide>
                      </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>
        <br style ='line-height:100px;'> 
    </div>
</ion-content>

<ion-footer>
  <ion-button class="offer-btn" (click)="submitGet()" *ngIf="!hasSubmit">Đăng ký nhận</ion-button>
</ion-footer>
