<ion-header>
  <ion-toolbar class="toolbar-title">
    <ion-title style="text-align: center;">Danh sách đang giao dịch</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment"  color="secondary">
      <ion-segment-button value="0">
        <p>Cho</p>
      </ion-segment-button>
      <ion-segment-button value="1">
        <p>Nhận</p>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <ion-grid>
        <ion-row *ngFor="let i of products">
          <ion-card *ngIf="i.user == userID">
            <span *ngIf="!i.isEdit; else elseBlock" (click)="presentOptionsCardGive(i,i.id,i.method)">
              <div>
                <ion-card-header>
                  <ion-row>
                    <ion-col>
                      <img src="{{i.img}}" class="img-product"/>
                    </ion-col>
                    <ion-col>
                      <ion-card-subtitle>{{i.loaisp}}</ion-card-subtitle>
                      <ion-card-title>{{i.tensp}}</ion-card-title>
                      <ion-card-subtitle style="color: chartreuse;">{{i.date | date:'dd-MM-yyyy'}}</ion-card-subtitle>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
              </div>
            </span>
            <ng-template #elseBlock>
              <ion-card-header>
                <ion-card-title>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button fill="outline" color="danger" size="small" (click)="i.isEdit = false;captureDataUrl = undefined">
                          Cancel
                        </ion-button>
                      </ion-col>
                      <ion-col style="font-size :16px;">
                        Chỉnh sửa
                      </ion-col>
                      <ion-col>
                        <ion-button fill="outline" color="success" size="small" (click)="updateProduct(i,i.Editimg)">
                          Cập nhật
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item lines="none">
                  <ion-row style="align-content: center;">
                    <ion-col>
                      <img [src]="captureDataUrl" *ngIf="captureDataUrl" class="photo-camera" />  
                      <img src="{{i.img}}" *ngIf="!captureDataUrl" class="photo-camera">
                    </ion-col>
                    <ion-col>
                      <ion-button color="danger" (click)="getPicture(0)"> 
                        <ion-icon name="camera"></ion-icon>
                      </ion-button>
                      <p>Chọn hình ảnh</p>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><strong>Tên sản phẩm</strong></ion-label>
                  <ion-input type="text" [(ngModel)]="i.Edittensp"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating"><strong>Mô tả</strong></ion-label>
                  <ion-textarea [(ngModel)]="i.Editnote"></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-icon name="clipboard" style="padding-right: 20px;"></ion-icon>
                  <ion-label style="color:#C0C0C0;font-size:12px;">Loại sản phẩm</ion-label>
                  <ion-select interface="action-sheet" placeholder="Chọn" [(ngModel)]="i.Editloaisp">
                  <ion-select-option *ngFor="let pt of producttype" value="{{pt.name}}">{{pt.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-icon name="card" style="padding-right: 20px;"></ion-icon>
                  <ion-label style="color:#C0C0C0;font-size:12px;">Cách thức nhận</ion-label>
                  <ion-select interface="action-sheet" placeholder="Chọn" [(ngModel)]="i.Editmethod">
                    <ion-select-option value="true">Hệ thống tự chọn</ion-select-option>
                    <ion-select-option value="false">Chọn thủ công</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-icon name="heart-half" style="padding-right: 20px;"></ion-icon>
                  <ion-label style="color:#C0C0C0;font-size:12px;">Tình trạng sản phẩm</ion-label>
                  <ion-select interface="action-sheet" placeholder="Chọn" [(ngModel)]="i.Editstatus">
                    <ion-select-option value="90%">90%</ion-select-option>
                    <ion-select-option value="80%">80%</ion-select-option>
                    <ion-select-option value="70%">70%</ion-select-option>
                    <ion-select-option value="60%">60%</ion-select-option>
                    <ion-select-option value="50%">50%</ion-select-option>
                    <ion-select-option value="40%">40%</ion-select-option>
                    <ion-select-option value="30%">30%</ion-select-option>
                    <ion-select-option value="20%">20%</ion-select-option>
                    <ion-select-option value="10%">10%</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-card-content>
            </ng-template>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid >
        <ion-row *ngFor="let i of listUserSubmit">
          <ion-card *ngIf="i.user == userID">
            <span (click)="presentOptionsCardGet(i.id,i.hasChosen,i.phone)">
              <ion-card-header>
                <ion-row>
                  <ion-col>
                    <img src="{{i.img}}" class="img-product" />
                  </ion-col>
                  <ion-col>
                    <ion-card-subtitle>{{i.loaisp}}</ion-card-subtitle>
                    <ion-card-title>{{i.tensp}}</ion-card-title>
                    <ion-card-subtitle style="color: chartreuse;">{{i.date | date:'dd-MM-yyyy'}}</ion-card-subtitle>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="i.hasChosen == true" style="color:#1E90FF;">
                  <h6 style="margin: auto;margin-top: 15px;">Bạn đã được chọn</h6>
                </ion-row>
              </ion-card-header>
            </span>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
