.toolbar-title{
    --background: #90EE90;
    color: white;
}

ion-content{
    --background: url(/assets/img/home-background.jpg) no-repeat center/cover fixed;
}

ion-list ion-item{
    font-size: 12px;
}

ion-card{
    --background:#F5F5F5;
}

ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-width : 100% !important;
    margin: 0 !important;
    margin-top: 5% !important;
}
.img-product{
    width: 100px;
    height: 100px;
}