.toolbar-title{
    --background: lightgreen;
    color: white;
}

ion-content{
    --background: #FDF5E6;
}

ion-list ion-item{
    font-size: 12px;
}

.img-product{
    width: 40px;
    height: 40px;
}
