<ion-header>
  <ion-toolbar class="toolbar-title">
    <ion-title style="text-align: center;">Danh sách đang giao dịch</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment"  color="secondary">
        <ion-segment-button value="0">
          <p>Give</p>
        </ion-segment-button>
        <ion-segment-button value="1">
          <p>Get</p>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides #slides (ionSlideDidChange)="slideChanged()">
        <ion-slide>
          <ion-grid>
              <ion-row *ngFor="let i of products">
                  <ion-card *ngIf="i.user == userID">
                    <span>
                      <div >
                        <ion-card-header>
                          <ion-row>
                            <ion-col>
                              <img src="{{i.img}}" class="img-product"/>
                            </ion-col>
                            <ion-col>
                              <ion-card-subtitle>{{i.loaisp}}</ion-card-subtitle>
                              <ion-card-title>{{i.tensp}}</ion-card-title>
                              <ion-card-subtitle style="color: chartreuse;">{{i.date | date:'dd-MM-yyyy'}}</ion-card-subtitle>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngFor="let m of listUserSubmit;">
                            <h6 *ngIf="m.id == i.id">{{m.subcriberChosen}}</h6>
                          </ion-row>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-button shape="round" color="warning" size="small" *ngIf="i.method == 'false'" (click)="presentChooseSubcriber(i.id)">
                            <ion-icon size="small" slot="icon-only" name="contacts"></ion-icon>
                          </ion-button>
                          <ion-button shape="round" color="success" size="small" (click)="showPopupConfirm(i.id)">
                            <ion-icon size="small" slot="icon-only" name="checkbox-outline"></ion-icon>
                          </ion-button>
                          <ion-button shape="round" color="primary" size="small" routerLink="/item-detail/{{i.id}}" routerDirection="forward">
                            <ion-icon size="small" slot="icon-only" name="eye"></ion-icon>
                          </ion-button>
                          <ion-button shape="round" color="secondary" size="small">
                            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
                          </ion-button>
                          <ion-button shape="round" color="danger" size="small">
                            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
                          </ion-button>
                        </ion-card-content>
                      </div>
                    </span>
                  </ion-card>
                </ion-row>
          </ion-grid>
         
           
       
        </ion-slide>
        <ion-slide>
          <ion-grid >
            <ion-row *ngFor="let i of listUserSubmit">
                <ion-card *ngIf="i.user == userID">
                    <span>
                     
                          <ion-card-header>
                            <ion-row>
                              <ion-col>
                                <img src="{{i.img}}" class="img-product" />
                              </ion-col>
                              <ion-col>
                                <ion-card-subtitle>{{i.loaisp}}</ion-card-subtitle>
                                <ion-card-title>{{i.tensp}}</ion-card-title>
                                <ion-card-subtitle style="color: chartreuse;">{{i.date | date:'dd-MM-yyyy'}}</ion-card-subtitle>
                              </ion-col>
                            </ion-row>
                          </ion-card-header>
                          <ion-card-content>
                            <ion-button shape="round" color="primary" size="small" routerLink="/item-detail/{{i.id}}" routerDirection="forward">
                              <ion-icon size="small" slot="icon-only" name="eye"></ion-icon>
                            </ion-button>
                            <ion-button shape="round" color="danger" size="small">
                              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
                            </ion-button>
                          </ion-card-content>
                       
                    </span>
                  </ion-card>
            </ion-row>
          </ion-grid>
          
        </ion-slide>
      </ion-slides>
</ion-content>
