<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="menu">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="item-post">
        <ion-icon name="today"></ion-icon>
        <ion-label>Post</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="listgiveget">
        <ion-icon name="list"></ion-icon>
        <ion-label>List deal</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>