<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="menu">
        <ion-icon name="home"></ion-icon>
        <ion-label>Trang chủ</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="category-index">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Danh mục sản phẩm</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="item-post">
        <ion-icon name="today"></ion-icon>
        <ion-label>Đăng bài</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="listgiveget">
        <ion-icon name="list"></ion-icon>
        <ion-label>Danh sách giao dịch</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Thông tin cá nhân</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>