.header-toolbar{
    --background:#90EE90;
}
.menuBtn{
    --background: transparent;
    width:30px;
    height:30px;
    padding-left: 10px;
    --box-shadow:none;
}

.img-item{
    height: 150px;
}

#thumb-item{
    background-color:	#F5F5F5;
    width: auto;
}
.name-item{
    text-align: center;
    font: bold;
    font-size: 12px;
    color:black;
}
.info-item{
    background: url(/assets/img/banner.jpg) no-repeat center;
    background-size: cover;
    --border-radius: 5px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    color: white;
    font-size: 14px;
    width:auto;
}

ion-content{
    --background: url(/assets/img/home-background.jpg) no-repeat center/cover fixed;
}

#subtitle-product{
    background:#3CB371;
    color: white;
    border-radius:15px;
    text-align: center;
    font-size: 8px;
}

ion-fab-button{
    --background:#10dc60;
    --color:white;
}