.header-toolbar{
    --background:#90EE90;
}
.menuBtn{
    --background: transparent;
    width:30px;
    height:30px;
    padding-left: 10px;
    --box-shadow:none;
}

.img-item{
    height: 150px;
}

#thumb-item{
    background-color:	#F5F5F5;
    width: auto;
}
.name-item{
    text-align: center;
    font-size: 9px;
    color:#696969;
}
.info-item{
    --background: url(/assets/img/light.jpg) no-repeat center/cover fixed;
    --border-radius: 5px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    color: white;
    font-size: 14px;
    width:auto;
}

ion-content{
    --background: url(/assets/img/home-background.jpg) no-repeat center/cover fixed;
}

#subtitle-product{
    background:#FFA500;
    color: white;
    border-radius:15px;
    text-align: center;
}